.is-sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
}

@media only screen and (max-width: 600px) {
  .vertical-timeline--animate * {
    animation: 0s !important;
    visibility: visible !important;
  }
}
